body {
    background-color: yellow;
}

.error-text {
	color: red;
}

/* HOME */

/*additonal styling for the home canvas can be made here*/
.board-frame {
	width: 500;
	height: 500;
}

.nav,.pagination,.carousel,.panel-title a {
	cursor: pointer;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.block0 {

}

.block1, .block2, .block3 {
	height: 50%
}

.block1 {
	background-color: white;	
}

.block2, .block3 {
	background-color: #4A60B6;	/* Skrible_default_blue*/
}

.img-bottom {
	position: : absolute;
	left: 0;
	bottom: 0;
}


 .centerSecond,.lowerSecond {
	padding: 1em;
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
 }

 .centerSecond {
	top: 75%;
 }

 .lowerSecond {
	top: 95%;
 }




