<div class="container">

<!-- start $NAME card -->
<div class="card">
	<div class="card-content">
		<span class="card-title grey-text text-darken-4" ng-click="router.goDashboard()">
		<div class="row">
		<div class="col s10 offset-s1">
			<a> About Skribl </a>
			<a><i class="mdi-navigation-close right"></i></a>
			</div>
		</span>
		</div>
	</div>
	<span class="grey-text text-darken-4">
	<div class="row">
		<div class="animated fadeInDown">
			<div class="col s10 offset-s1">
			 <p class="flow-text">
			 We know the story of being a researcher doesn’t end with research. However compelling and groundbreaking your results might be, they still need exposure. Today’s scientists are like the travelling salesmen of yesterday: proceeding from journal to conference, constantly looking for the shortest routes to visibility. We know this is a hard and time consuming process. Therefore we are developing SKRIBL, a web based application that provides you with exactly the right tools to facilitate this scientific journey. Trough an easy to use and appealing interface, SKRIBL gives you valuable insights in the part of the scientific world you’re interested in. And the best part is: it lets your publications do the networking for you.
			 </p>
			</div>
		</div>
		</div>
	</span>
</div>
<!-- stop basic card -->
</div>