<global-menu></global-menu>
<fixed-menu></fixed-menu>


<!-- start overall container -->
<div class="section animated pulse row">
        <div class="col l4 m12 s12">
                <!-- start user card -->
                <user-card></user-card>
                <!-- stop user card -->
        </div>


        <!-- inject the views belonging to the nested states -->
        <!--- [H] @Pieter: m and s should be changed, I leave it to you to define the best width for mobile etc. -->
        <div class="col l8 m12 s12" ui-view ></div>

</div>

<!-- stop overall container -->
<div id="id_viewer"></div>

<!-- other cards -->
<interactive-graph-card></interactive-graph-card>




<!--<hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr>-->










