


<!-- [H] this is part of the styling of the graph: TO DO: put this somewhere better!-->

<style>
    .link {
        stroke: #999;
        stroke-opacity: .6;
    }
</style>



<div class="card z-depth-4">

<div class="card-content" style="background:#EEEEEE">

    <span class="card-title grey-text text-darken-4">
				<i class="mdi-social-public"> Network</i>
    </span>

    <div class="card">
        <div class="card-content">
						<span class="card-title grey-text text-darken-4" ng-click="publications.toggleLibraryCard()">
							<a> Your Network </a>
							<i class="mdi-navigation-more-vert right"></i>
						</span>
        </div>
        <div class="row center" ng-show="graphDataLoading">
             <spinner ></spinner>
        </div>
        <graph-directive></graph-directive>
    </div>






</div>
</div>