
<div>
	<div class="col s6" >
		<div class="card-panel skribl-primary-color" >

			<i class="mdi-content-clear right selectable-white" ng-click="appData.toggleUI(appData.ui.metaAddLib)"></i>

			<h5 class="selectable-white" ng-click="appData.toggleUI(appData.ui.metaAddLib)">
				Edit library
			</h5>
			<ul ng-show="appData.ui.metaAddLib.value">
				<div ng:repeat="lib in data.userLibrariesNames">
					<div class="row">
						<hr>
						<div class="center">
							<a class="btn-floating z-depth-2" ng-click="publications.deletePublication(lib, data.currentMetaData.id)">
								<i class="mdi-action-delete selectable-white "></i>
							</a>
							<a class="white-text">
								{{lib}} &nbsp;
							</a>
							<a class="btn-floating z-depth-2" ng-click="publications.addPublications(lib, data.currentMetaData.id)">
								<i class="mdi-content-send selectable-white"></i>
							</a>
							<br>
						</div>
					</div>
				</div>
				
			</div>
		</ul>
	</div>
</div>
</div>


<!-- keywords -->
<div>
	<div class="col s6" >
		<div class="card-panel skribl-primary-color" >

			<i class="mdi-content-clear right selectable-white" ng-click="appData.toggleUI(appData.ui.metaAddKeyword)"></i>

			<h5 class="selectable-white" ng-click="appData.toggleUI(appData.ui.metaAddKeyword)">
				Keywords
			</h5>
			
			<div ng-show="appData.ui.metaAddKeyword.value">
				<ul>
					<div ng:repeat="keyword in data.currentMetaData.keywords">
						<div class="row">
							<i class="mdi-action-delete left selectable-white" ng-click="appData.removeKeyWord($index)">
							</i>
							<div class="white-text">
								{{keyword}}
							</div>
							<hr>
						</div>
					</ul>

					<!-- input field add -->
					<div class="row">
						<div class="input-field col s12 white-text">
							<input id="nkeyword" type="text" class="validate" ng-model="data.searchTerm" required>
							<label class="active" for="nkeyword">
								new keyword
							</label>
						</div>
					</div>

					<!-- add button -->
					<div class="selectable-white center">
						<a class="btn-floating z-depth-2" ng-click="appData.addKeyWord(data.searchTerm)">
							<i class="mdi-content-send"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row center">

		<div class="row">
			<form class="col s12">


				<div class="progress">
					<div class="determinate" style="width: 0%">
					</div>
				</div>

				<!-- authors -->
				<h5 class="row center">
					Authors
				</h5>

				<!-- begin authors -->
				<div ng:repeat="author in data.currentMetaData.authors">

					<div class="col s4">
						<div class="card-panel skribl-primary-color" >


							<h5 class="selectable-white">
								{{author.lastName}}, {{author.firstName}} 
							</h5>
							<br>
							<div class="row">
								<div class="col s8 offset-s2">
									<img src="img/avatar.png" alt="" class="circle imgopac" style="width:100%">
								</div>
							</div>


							<!-- search -->
							<div class="selectable-white center" ng-click="publications.togglePotential(author)">
								<a class="btn-floating z-depth-2" ng-hide="author.potentialEnabled">
									<i class="mdi-action-search"></i>
								</a>
							</div>

							<div class="card-panel white" ng-show="author.potentialEnabled">

								<i class="mdi-content-clear right" ng-click="publications.togglePotential(author)"></i>


								<div class="row">
									<div class="input-field col s12">
										<input id="author" type="text" class="validate" ng-model="author.searchFirst" required>
										<label class="active" for="author">
											first name(s)
										</label>
									</div>
								</div>

								<div class="row">
									<div class="input-field col s12">
										<input id="author" type="text" class="validate" ng-model="author.searchLast" required>
										<label class="active" for="author">
											last name
										</label>
									</div>
								</div>

								<!-- search button -->
								<div class="selectable-white center">
									<a class="btn-floating z-depth-2" ng-click="publications.searchAuthors(author)">
										<i class="mdi-action-search"></i>
									</a>

									<a class="btn-floating z-depth-2" ng-show="author.allowSet" ng-click="publications.setAuthor(author)">
										<i class="mdi-content-send"></i>
									</a>

									<br><br>

									<a class="btn-floating z-depth-2" ng-click="publications.removeAuthorFromMetaData($index)">
										<i class="mdi-action-delete"></i>
									</a>


								</div>

								<div class="small-spacer"></div>

								<ul>
									<div ng:repeat="potential in author.potential">

										<li class="selectable-black" ng-click="publications.setPotentialAsSearch(author, potential)">
											<p>{{potential.firstName}} &nbsp;
												{{potential.lastName}}
											</p>
										</li>
										<hr>
									</div>
								</ul>
							</div>
						</div>

					</div>
				</div>
				<!-- end authors -->
				<!-- begin add author -->
				<div class="col s4">
					<div class="card-panel skribl-primary-color" >
						<div class="selectable-white" ng-click="publications.addAuthorToMetaData()">
							<i class="mdi-content-add-circle large"></i>
						</div>
					</div>
				</div>
				<!-- end add author -->


				<div class="progress">
					<div class="determinate" style="width: 0%">
					</div>
				</div>

				<!-- research domains -->
				<h5 class="row center">
					Research Domains
				</h5>


				<!-- begin RD -->
				<div class="col s12">
					<div class="card-panel skribl-primary-color" >

						<!--<h5 class="white-text"> current research domains  </h5>
						<br>-->
						<div ng:repeat="domain in data.currentMetaData.researchDomains" >
							<!--<hr>-->
							<div class="row" ng-click="appData.removeResearchDomain($index)">
								<i class="mdi-action-delete selectable-white"></i>
								<a class="white-text center">
									{{domain.major}} :: 
									{{domain.minor}}
								</a>
								<br>
							</div>
						</div>

						<a class="grey-text center"> NEW: </a>
						<div ng-repeat="selected in getSelectedDomains()">
                     		<a class="white-text center">  {{selected.major}} :: {{selected.minor}} </a>
                  		</div>
						
						<br>

						<div class="row">
							<div class="selectable-white" ng-click="appData.toggleUI(appData.ui.metaAddResearchDomain)">
								<i class="mdi-content-add-circle large" ng-hide="appData.ui.metaAddResearchDomain.value" ></i>
								<i class="mdi-navigation-close large" ng-show="appData.ui.metaAddResearchDomain.value"></i>
							</div>
						</div>
					</div>
				</div>
				


				<!-- RD selection -->

				 <span class="grey-text text-darken-4" ng-show="appData.ui.metaAddResearchDomain.value">
                        <div class="animated fadeInDown col s12">
                            <div class="section">
                            <research-domain> </research-domain>
                            </div>
                            <div class="center">
                                <i class="mdi-hardware-keyboard-arrow-up" ng-click="appData.ui.metaAddResearchDomain.value=false"></i>
                            </div>
                        </div>
                 </span>


				<div class="progress">
					<div class="determinate" style="width: 0%">
					</div>
				</div>

				<!-- close the add research domain -->
				<div class="row center">
				<div class="col s3 offset-s4">
					<div class="selectable-skribl" ng-click="appData.toggleUI(appData.ui.metaAddResearchDomain)">
						<i class="mdi-hardware-keyboard-arrow-up" ng-show="appData.ui.metaAddResearchDomain.value"></i>
					</div>
				</div>
				</div>




				<!-- start general -->
				<h5 class="row center">
					General 
				</h5>


				<!-- Title -->
				<div class="row">
					<div class="input-field col s12">
						<i class="mdi-action-label-outline prefix"></i>
						<input id="upload_title" type="text" class="validate" ng-model="data.currentMetaData.title" required>
						<label class="active" for="upload_title">Title</label>
					</div>
				</div>


				<!-- abstract -->
				<div class="row">
					<div class="input-field col s12">
						<i class="mdi-action-label-outline prefix"></i>
						<textarea id="upload_abstract" length="120"ng-model="data.currentMetaData.abstract" required class="materialize-textarea"></textarea>
						<label class="active" for="upload_abstract">Abstract</label>
					</div>
				</div>

				<!-- year -->
				<div class="row">
					<div class="input-field col s12">
						<i class="mdi-action-label-outline prefix"></i>
						<input id="upload_year" type="number" class="validate" ng-model="data.currentMetaData.year" required>
						<label class="active" for="upload_year">Publication Year</label>
					</div>
				</div>


				<!-- type -->
				<div class="row center">
					<input name="group2" type="radio" id="test3" ng-model="data.currentMetaData.type" value="journal"/>
					<label for="test3">Journal</label>

					<input name="group2" type="radio" id="test4" ng-model="data.currentMetaData.type" value="proceeding"/>
					<label for="test4">Proceeding</label>
				</div>

				<!-- journal specific -->
				<div ng-show="data.currentMetaData.type==='journal'">
					<!-- journal -->
					<div class="row">
						<div class="input-field col s12">
							<i class="mdi-action-label-outline prefix"></i>
							<input id="upload_journal" type="text" class="validate" ng-model="data.currentMetaData.journal" required>
							<label class="active" for="upload_journal">Journal name</label>
						</div>
					</div>

					<!-- publisher -->
					<div class="row">
						<div class="input-field col s12">
							<i class="mdi-action-label-outline prefix"></i>
							<input id="upload_publisher" type="text" class="validate" ng-model="data.currentMetaData.publisher" required>
							<label class="active" for="upload_publisher">Publisher name</label>
						</div>
					</div>

					<!-- volume -->
					<div class="row">
						<div class="input-field col s12">
							<i class="mdi-action-label-outline prefix"></i>
							<input id="upload_volume" type="number" class="validate" ng-model="data.currentMetaData.volume" required>
							<label class="active" for="upload_volume">volume</label>
						</div>
					</div>


					<!-- number -->
					<div class="row">
						<div class="input-field col s12">
							<i class="mdi-action-label-outline prefix"></i>
							<input id="upload_number" type="number" class="validate" ng-model="data.currentMetaData.number" required>
							<label class="active" for="upload_number">number</label>
						</div>
					</div>
				</div>

				<!-- proceeding specific -->
				<div ng-show="data.currentMetaData.type==='proceeding'">
					<!-- booktitle -->
					<div class="row">
						<div class="input-field col s12">
							<i class="mdi-action-label-outline prefix"></i>
							<input id="upload_booktitle" type="text" class="validate" ng-model="data.currentMetaData.booktitle" required>
							<label class="active" for="upload_booktitle">Booktitle</label>
						</div>
					</div>

					<!-- organisation -->
					<div class="row">
						<div class="input-field col s12">
							<i class="mdi-action-label-outline prefix"></i>
							<input id="upload_organisation" type="text" class="validate" ng-model="data.currentMetaData.organisation" required>
							<label class="active" for="upload_organisation">Organisation</label>
						</div>
					</div>
				</div>

				<br>

				<!-- Private -->
				Private
				<div class="switch">
					<label>
						Off
						<input type="checkbox" ng-model="data.currentMetaData.private">
						<span class="lever"></span>
						On
					</label>
				</div>

				<br><br>

				<!-- delete button -->
				<div class="row center">
					<a class="waves-effect waves-light btn" style="color:white;" ng-click="publications.deletePublication('Uploaded', data.currentMetaData.id)">
						<i class="mdi-action-delete left"></i>
						delete
					</a>

					<a class="waves-effect waves-light btn" style="color:white;" ng-click="publications.modifyMeta(data.currentMetaData.id, data.currentMetaData)">
						<i class="mdi-content-send left"></i>
						save
					</a>
				</div>

			


			</form>

		</div>
	</div>