start fixed action button -->
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
	<a class="btn-floating btn-large skribl-alert-color waves-effect waves-light">
		<i class="large mdi-editor-mode-edit"></i>
	</a>
	<ul>
		<li>
			<a class="btn-floating skribl-primary-color darken-1">
				<code class="titip-left">
					<i class="large mdi-editor-insert-chart waves-effect waves-light"></i>
					<span class="titip-content">
						This is a demo-button
					</span>
				</code>
			</a>
		</li>
		<li>
			<a class="btn-floating skribl-primary-color darken-1">
				<code class="titip-left">
					<i class="large mdi-editor-format-quote waves-effect waves-light"></i>
					<span class="titip-content">
						This is a demo-button
					</span>
				</code>
			</a>
		</li>
		<li>
			<a class="btn-floating skribl-primary-color darken-1">
				<code class="titip-left">
					<i class="large mdi-social-share waves-effect waves-light" ng-click=""></i> <!-- enableinteractivegraph here -->
					<span class="titip-content">
						Enable interactive graph
					</span>
				</code>
			</a>
		</li>
		<li>
			<a class="btn-floating skribl-primary-color darken-1">
				<code class="titip-left">
					<i class="large mdi-editor-publish waves-effect waves-light" ng-click="publications.upload_activate()"></i>
					<span class="titip-content">
						Upload a new publication
					</span>
				</code>
			</a>
		</li>
	</ul>
</div>
<!-- end fixed action button