<!-- The Dashboard html configuration -->
<div class="navbar-fixed" ng-hide="showMenu" id="id_top">
	<nav class="white" role="navigation">
		<div class="col s12">
			<div class="nav-wrapper">
				<a id="logo-container" href="#!" class="brand-logo">           
					<img class = "navImage" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/243373/logo_defaultcolor.png" alt="logo" />
				</a>
				<ul class="right">
					<li><a class="primary-text-color" href="login">Dashboard</a></li>
					<li><a class="primary-text-color" href="register">About</a></li>
				</ul>
				<!--Mobile Navigation-->
				<ul id="nav-mobile" class="side-nav z-depth-5">
					<li><a class="primary-text-color" href="login">Dashboard</a></li>
					<li><a class="primary-text-color" href="register">About</a></li>
				</ul>
				<a href="#" data-activates="nav-mobile" class="button-collapse primary-text-color"><i class="mdi-navigation-menu primary-text-color"></i></a>
			</div>
		</div>
	</nav>
</div>