
<!--///////////////////////////////////////-->
<!--////// HOME PAGE //////////////////////-->
<!-- ____ [HEADERLOGO] ____________________-->
<!--...... MOBILE TABLET & DESKTOP ........-->
<!--Tablet and above: Block 1: dynamic logo-->
<div class="white-block hide-on-small-only row">
  <div class="col s4 offset-s4 center">
    <canvas interactivelogo></canvas>
  </div>
  <!-- ____ [BUTTON] ________________________-->
  <!--...... DESKTOP ........................-->
  <div class="animated bounce col s6 offset-s3 center hide-on-med-and-down">
   <a class="btn-floating btn-large waves-effect edge-large-btn waves-light red" ng-click="gotoElement('maincontent')">
     <i class="large mdi-hardware-keyboard-arrow-down"></i>
   </a>  
 </div>
</div>

<div id="maincontent" class="section">
  <div class="row">
    <div class="col s6 offset-s3 center">
      <div class="large-header-block">
      </div>
    </div>
  </div>  

  <!-- ____ [NAME] __________________________-->
  <!--...... DESKTOP ........................-->
  <div class="row">
    <div class="col s12 center">
      <img class="autosizeImage" src="img/skribl_general_text.png" alt="skribllog">
    </div>
  </div>
  <div class="row">
    <div class="col s6 offset-s3 center">
      <div class="large-header-block">
      </div>
    </div>
  </div>
</div>  

<!-- ____ [LOGIN / REGISTER] ______________-->
<!-- login button-->
<div class="row" ng-hide="showLogin">
  <a class="col offset-m5 m2 offset-s4 s4 waves-effect waves-skribl btn-large" ng-click="login()">
    <h5 class="center-align" style="color:white">Login</h5>
  </a>
</div>

<!-- login card-->
<div class="animated pulse row" ng-show="showLogin">
  <div class="col m6 s12 offset-m3">
    <div class="card z-depth-4">
      <div class="card-content ">
        <span class="card-title grey-text text-darken-4">Login</span>
        <p>"{{getMotivationalQuote()}}"</p>
        <div class="row">
          <form class="col s12">
            <!-- username-->
            <div class="row">
              <div class="input-field col s12">
                <i class="mdi-action-account-circle prefix"></i>
                <input id="login_username" type="text" class="validate"></input>
                <label for="login_username">User Name</label>
              </div>
              <!-- password-->
              <div class="row">
                <div class="input-field col s12">
                  <i class="mdi-communication-vpn-key prefix"></i>
                  <input id="login_password" type="password" class="validate"></input>
                  <label for="login_password">Password</label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card-action white-text-color">
        <div class="col s12 waves-effect waves-skribl btn-large">
          <h5 class="center-align" style="color:white">Login</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- register button-->
<div class="animated pulse row" ng-hide="showRegister">
  <div class="col s12 m6 offset-m3 center white-text-color">
    <!--...... DESKTOP TABLET ..................-->
    <h6 class="center-align hide-on-small-only">Don’t have an account yet?</h6>
    <a class="white-text-color hide-on-small-only" ng-click="register()">
      <h6 class="center-align">Sign up here</h6>
    </a>

    <!--...... MOBILE ..........................-->        
    <div class="hide-on-med-and-up col offset-m5 m2 offset-s4 s4 waves-effect waves-skribl btn-large" ng-click="register()">
      <h5 class="center-align" style="color:white">Register</h5>
    </div>
  </div>
</div>

<!-- register card-->
<div class="animated pulse row" ng-show="showRegister">
  <div class="col m6 s12 offset-m3">
    <div class="card z-depth-4">
      <div class="card-content ">
        <span class="card-title grey-text text-darken-4">Register</span>
        <div class="row">
          <form class="col s12">

            <!-- First name -->
            <div class="row">
              <div class="input-field col s12">
                <i class="mdi-action-label-outline prefix"></i>
                <input id="register_firstname" type="text" class="validate">
                <label for="register_firstname">First Name</label>
              </div>
            </div>

            <!-- Name (last name) -->
            <div class="row">
              <div class="input-field col s12">
                <i class="mdi-action-label prefix"></i>
                <input id="register_lastname" type="text" class="validate">
                <label for="register_lastname">Name</label>
              </div>
            </div>

            <!-- user name -->
            <div class="row">
              <div class="input-field col s12">
                <i class="mdi-action-account-circle prefix"></i>
                <input id="register_username" type="text" class="validate"></input>
                <label for="register_username">User Name</label>
              </div>
            </div>

            <!-- email -->
            <div class="row">
              <div class="input-field col s12">
                <i class="mdi-communication-email prefix"></i>
                <input id="register_email" type="email" class="validate"></input>
                <label for="register_email">Email</label>
              </div>
            </div>

            <!-- institution -->
            <div class="row">
              <div class="input-field col s12">
                <i class="mdi-action-home prefix"></i>
                <input id="register_institution" type="text" class="validate"></input>
                <label for="register_institution">Institution</label>
              </div>
            </div>

            <!-- faculty -->
            <div class="row">
              <div class="input-field col s12">
                <i class="mdi-action-group-work prefix"></i>
                <input id="register_faculty" type="text" class="validate"></input>
                <label for="register_faculty">Faculty</label>
              </div>
            </div>

            <!-- Department -->
            <div class="row">
              <div class="input-field col s12">
                <i class="mdi-action-extension prefix"></i>
                <input id="register_department" type="text" class="validate"></input>
                <label for="register_department">Department</label>
              </div>
            </div>

            <!-- research domain -->
            <div class="row">
              <div class="input-field col s12">
                <i class="mdi-action-class prefix"></i>
                <input id="register_researchDomain" type="text" class="validate"></input>
                <label for="register_researchDomain">Research Domain</label>
              </div>
            </div>

            <!-- research group -->
            <div class="row">
              <div class="input-field col s12">
                <i class="mdi-action-dashboard prefix"></i>
                <input id="register_researchGroup" type="text" class="validate"></input>
                <label for="register_researchGroup">Research Group</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="card-action white-text-color">
        <div class="col s12 waves-effect waves-skribl btn-large">
          <h5 class="center-align" style="color:white">Register</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="small-spacer"></div>

<!-- ____ [TAGLINE] ____________________-->
<!--...... DESKTOP TABLET MOBILE .......-->
<div class="section row footer">
  <div class="col s10 offset-s1 m12 white-text-color"><p class="center-align flow-text">{{copy}}</p></div>
</div>

<div class="small-spacer"></div>

<!-- ____ [FOOTER] ____________________-->
<!--...... TABLET MOBILE .......-->
<div class="section row footer hide-on-small-only">
  <div class="col s12 ">
    <img style="width: 100%" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/243373/diamondFront.png" />
  </div>
</div>




