
<!--///////////////////////////////////////-->
<!--////// HOME PAGE //////////////////////-->
<!-- ____ [HEADERLOGO] ____________________-->
<!--...... MOBILE TABLET & DESKTOP ........-->
<!--Tablet and above: Block 1: dynamic logo-->

<!-- The Home (landing) html configuration -->
 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="components.html">Components</a></li>
        <li><a href="javascript.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>

<div class="header-block white-block">
<canvas class="board-frame" interactivelogo></canvas>
</div>

  <!-- <div class="white-block hide-on-small-only">
    <div class="row">
      <div class="col s6 offset-s3 grid-example center">
        <img  class="small-spacer" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/243373/logo_s.png" alt="skribllog">
      </div>
    </div>
  </div>  

<head>
  <div class="white-block hide-on-small-only">
    <div class="row">
      <div class="col s8 offset-s2 grid-example center">
        <div>
            <canvas class="board-frame" interactivelogo></canvas>
            LOLOLO
        </div>
      </div>
    </div>
  </div>  
</head>  -->





