<!--begin library card -->
<div class="card">
	<div class="card-content">
		<span class="card-title grey-text text-darken-4" ng-click="publications.toggleLibraryCard()">
			<a> Library | {{getCurrentLibraryName()}}</a>
			<i class="mdi-navigation-more-vert right"></i>
		</span>

		<span ng-show="publications.showLibraryCard">
			<div class="animated fadeInDown col s12">
				<ul class="collection">
					<div ng:repeat="publication in data.publications">
						<!-- <div ng:repeat="publication in ui_currentPublications"> -->
						<li class="collection-item avatar">
							<i class="mdi-action-account-balance circle" ng-show="publication.type == 'Journal'">
							</i>
							<i class="mdi-action-description circle" ng-show="publication.type == 'Proceeding'">
							</i>

							<div class="selectable-black" ng-click="publications.loadPublicationInViewer(publication.id);">
								<div class="row">
									<div class="col s2">
										<span class="title truncate">
											{{publication.title}}
										</span>
										<!-- 	<div ng-repeat="author in publication.authors"> -->
										<!-- <p> -->
										<!-- {{author.firstName}} {{author.lastName}} -->
										<!-- </p> -->
										<!-- </div> -->
										<!-- temp omdat authors nog niet werken -->
										<br>
										<p style="color:grey">
											{{publication.type}}
										</p>
									</div>
									
										<a class="secondary-content">
											<span class="new badge" ng-hide="publication.isnew"></span> <!-- implement new functionality -->
											<code class="titip-left">
												<i class="mdi-action-grade" ng-click="publications.addPublications('Favorites', publication.id)"></i>&nbsp;
												<span class="titip-content">
													add to favorites
												</span>
											</code>
										</a>
									
								</div>
							</div>
						</li>

					</div>
				</ul>

				<!-- make it large enough -->
				<div ng-show="publications.shouldResizeForPublicationSettings()">
					<span ng-repeat="a in (((b=[]).length=9)&&b) track by $index">
						<br>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="activator col s12 waves-effect waves-light btn-large ">
					<h5 class="activator center-align" style="color:white" ng-click="publications.togglePublicationSettings()">Settings</h5>
				</div>

				<div class="center">
					<i class="mdi-hardware-keyboard-arrow-up" ng-click="publications.toggleLibraryCard()"></i>
				</div>
			</div>
		</span>	
	</div>

	<div class="card-reveal">
		<span class="card-title grey-text text-darken-4" ng-click="publications.togglePublicationSettings()">
			Library Settings
			<i class="mdi-navigation-close right"></i>
		</span>
		<!-- begin library settings content -->

		<br>

		<div class="progress">
			<div class="determinate" style="width: 0%">
			</div>
		</div>

		<h6 class="primary-text-color light">
			Available Libraries
		</h6>

		<div ng:repeat="lib in data.userLibrariesNames">
			<div class="col s4">
				<div class="card-panel skribl-primary-color" >

					<div ng-click="publications.getUserPublications(lib)">
						<h5 class="selectable-white">
							<code class="titip-down">
								<i class="mdi-maps-local-library circle">
								</i>
								<span class="titip-content">
									&nbsp;&nbsp;Click me to load "{{lib}}" publications
								</span>
							</code>
							&nbsp;{{lib}}
						</h5>
					</div>
					<hr>
					<div class="selectable-white center">
						<a class="btn-floating disabled z-depth-2" ng-show="publications.canLibBeDeleted(lib)">
							<i class="mdi-action-delete"></i>
						</a>
						<a class="btn-floating skribl-primary-color darken-4 z-depth-2" ng-hide="publications.canLibBeDeleted(lib)" ng-click="publications.deleteLib(lib)">
							<i class="mdi-action-delete"></i>
						</a>
					</div>
				</div>

			</div>
		</div>

		<div class="progress">
			<div class="determinate" style="width: 0%"></div>
		</div>

		<h6 class="primary-text-color light">
			Create new library
		</h6>

		<div class="row">
			<div class="input-field col s6">
				<i class="mdi-content-text-format prefix"></i>
				<input id="newlib-title" type="text" class="validate" ng-model="data.addLibName" required>
				<label for="newlib-title">new library name</label>
			</div>
			<div class="input-field col s6">
				<a class="waves-effect waves-light btn" style="color:white;" ng-click="publications.createLib(data.addLibName)">
					<i class="mdi-content-send left"></i>
					add
				</a>
			</div>
		</div>
		<!-- end library settings content -->
	</div>
</div>

			<!-- end library card