<div class="header-block">
	<img src="img/logo_defaultcolor.png" 
		class = "header-content" 
		style='height:83%;' 
		alt="skribllog" 
		ng-click="goToHome()">
</div>

<div class="block0">
	<center>
		<div class="card">
			<div class="card-inner">
				<div class="card-content">
					<h1> LOG IN </h1><br>
					<input placeholder="username" class="text-field" type="text" ng-model=userinput.username> <br><br>
					<input placeholder="password" class="text-field" type="password" ng-model=userinput.password> <br><br>
					<h3><p id="error"></p></h3>
					<br><br>
				</div>
		</div>
			<div class="card-bottom-right">
				<div class="round-button">
					<i class="fa fa-angle-right" ng-click="login()" style="color:white"></i>
				</div>
			</div>
		</div>
	</center>
</div>
