<div class="card">
    <div class="card-content">

        <span class="card-title grey-text text-darken-4">
            <a> Metadata Preview </a>
            <i class="mdi-content-clear right" ng-click="clearMetadata()"></i>
        </span>

        <div class="animated fadeInDown col s12">
            <div class="section">

                <div class="row center">
                    <div ng-show="requestingMetadata()">
                        <spinner></spinner>
                    </div>
                </div>

                <div class="animated fadeInDown" ng-show="!requestingMetadata() && showMeta()">

                    <ul class="collection">
                        <li class="collection-item">
                            <i class="mdi-social-school circle"></i>
                            <span class="title">Title</span>
                            <p>{{getMetadata().title}}</p>
                        </li>
                        <li class="collection-item">
                            <i class="mdi-image-timelapse circle"></i>
                            <span class="title">Year</span>
                            <p>{{getMetadata().year}}</p>
                        </li>
                        <li class="collection-item">
                            <i class="mdi-social-people circle"></i>
                            <span class="title">Authors</span>
                            <div ng-repeat="author in getMetadata().authors">
                                <p>{{author.firstName}} {{author.lastName}}</p>
                            </div>

                        </li>
                        <li class="collection-item">
                            <i class="mdi-image-style circle"></i>
                            <span class="title">Type</span>
                            <p>{{getMetadata().type}}</p>
                        </li>
                        <!--- proceeding -->
                        <li class="collection-item" ng-show = "getMetadata().type=='proceeding'">
                            <i class="mdi-action-bookmark circle"></i>
                            <span class="title">Booktitle</span>
                            <p>{{getMetadata().Booktitle}}</p>
                        </li>
                        <li class="collection-item" ng-show = "getMetadata().type=='proceeding'">
                            <i class="mdi-action-assignment-ind circle"></i>
                            <span class="title">Organisation</span>
                            <p>{{getMetadata().organisation}}</p>
                        </li>
                        <!-- journal -->
                        <li class="collection-item" ng-show = "getMetadata().type=='journal'">
                            <i class="mdi-action-bookmark circle"></i>
                            <span class="title">Journal</span>
                            <p>{{getMetadata().journal}}</p>
                        </li>
                        <li class="collection-item" ng-show = "getMetadata().type=='journal'">
                            <i class="mdi-action-assignment-ind circle"></i>
                            <span class="title">Publisher</span>
                            <p>{{getMetadata().publisher}}</p>
                        </li>
                        <li class="collection-item">
                            <i class="mdi-image-style circle"></i>
                            <span class="title">Abstract</span>
                            <p>{{getMetadata().abstract}}</p>
                        </li>
                        <li class="collection-item" ng-show = "hasExternalUrl">
                            <i class="mdi-image-style circle"></i>
                            <span class="title">url</span>
                            <p> <a target="_blank" href="{{getMetadata().url}}"> External Link </a></p>
                        </li>

                    </ul>


                </div>
            </div>
        </div>
    </div>

    <div class="row container">
        <div class="activator col s12 waves-effect waves-light btn-large ">
            <h5 class="activator center-align" style="color:white">Additional</h5>
        </div>
    </div>
    <!-- end content -->
    
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4" >
            additional metadata
            <i class="mdi-navigation-close right"></i>
        </span>

        <br>

        <div class="row center s12">
            <code class="titip-bottom">
            <a class="waves-effect waves-light btn" style="color:white;" href="{{getMetadata().download}}"> 
                    <i class="mdi-file-file-download left"></i>
                    Download publication
                </a>
                <span class="titip-content">
                    Download the pdf to your device
                </span>
            </code>
        </div>

        <div class="row center s12">
            <code class="titip-bottom">
            <a class="waves-effect waves-light btn" style="color:white;" ng-click="publications.showPublicationViewer=true;"> 
                    <i class="mdi-editor-border-color left"></i>
                    Edit meta data
                </a>
                <span class="titip-content">
                    Edit the current meta data
                </span>
            </code>
        </div>

    </div>
</div>