<div class="card">
    <div class="card-content">
        <span class="card-title grey-text text-darken-4">
        	 <a> Links</a>
        </span>

        <div ng-show="!linkClicked">
        	<p> Click on a link in the network. </p>
        </div>


        <div ng-show="linkClicked">  
	        <p> Between </p>
	        &nbsp <a>{{appData.currentPubInCommon.author1.firstName}} {{appData.currentPubInCommon.author1.lastName}} </a>
	        <p> And </p>
	        &nbsp <a>  {{appData.currentPubInCommon.author2.firstName}} {{appData.currentPubInCommon.author2.lastName}}</a>
	        <p> We found  </p>
			<ul class="collection">
				<div ng:repeat="publication in appData.currentPubInCommon.publications"> 
					<li class="collection-item avatar">
						<i class="mdi-action-account-balance circle" ng-show="publication.type == 'Journal'"></i>
						<i class="mdi-action-description circle" ng-show="publication.type == 'Proceeding'"></i>

						<div class="selectable-black" ng-click="publications.loadPublicationInViewer(publication.id)">
							<span class="title">{{publication.title}}</span>
						</div>

						<a class="secondary-content" ng-show="forlibrary">
							<code class="titip-left">
								<i class="mdi-action-grade" ng-click="publications.addPublications('Favorites', publication.id)"></i>
								&nbsp;
								<span class="titip-content">
									add to favorites
								</span>
							</code>
						</a>
						<hr>
					</li>
				</div>
			</ul>
		</div>
	</div>
</div>