<div class="card">
    <div class="card-content">
        <span class="card-title grey-text text-darken-4">
         <a> Author Profile Stub</a>
        </span>

     <div class="animated fadeInDown col s12">
        <div class="section">
            <a> {{data.currentProfileData.firstName}} {{data.currentProfileData.lastName}} </a>
            <p> Id:  {{data.currentProfileData.authorId}} </p>
            <p> Username, if user:  {{data.currentProfileData.username}} </p>
            <p> If the author is a user, we could display the affiliation, visualise the metrics, etc. <p>
            <p> for all authors (non-users included) we could display a list of their publications <p>
            <a class="btn" ng-click="changeNetwork(data.currentProfileData)"> Display Author's Network</a>
        </div>
    </div>
    </div>
</div>