<div class="col l7 m12 s12">
	<div class="card z-depth-4">
		<div class="card-content" style="background:#EEEEEE">
			<!-- title -->
			<span class="card-title grey-text text-darken-4">
				<i class="mdi-av-my-library-books">&nbsp publications</i>
			</span>
			<!-- corrupt publication status -->
			<div ng-show="publications.ui_publications_corrupt()">
				<div class="row center">
					<spinner></spinner>
				</div>
			</div>
			<!-- incorrupt publication status -->
			<div ng-hide="publications.ui_publications_corrupt()">
				<!-- upload card -->
				<upload-card></upload-card>
				<!-- begin library card -->
				<div class="card">
					<div class="card-content">
						<span class="card-title grey-text text-darken-4" ng-click="publications.toggleLibraryCard()">
							<a> Library </a>
							<i class="mdi-navigation-more-vert right"></i>
						</span>
					</div>
					<span class="grey-text text-darken-4" ng-show="publications.showLibraryCard">
						<div class="animated fadeInDown col s12">
							<!-- begin library content -->
							<ul >
								<div ng:repeat="publication in ui_currentPublications">
									<li class="collection-item avatar">
										<i class="mdi-content-content-paste circle"></i>
										<div class="selectable-black" ng-click="loadPublicationInViewer(publication.id)">

											<span class="title">{{publication.title}}</span>
											<p>{{publication.publisher}} </p>

										</div>
										<a href="#!" class="secondary-content">
											<span class="new badge" ng-show="publication.isnew"></span>
										</a>
										<hr>
									</li>
								</div>
							</ul>
							<!-- end library content -->
							<div class="row">
								<div class="activator col s12 waves-effect waves-light btn-large ">
									<h5 class="activator center-align" style="color:white">Settings</h5>
								</div>

								<div class="center">
									<i class="mdi-hardware-keyboard-arrow-up" ng-click="publications.toggleLibraryCard()"></i>
								</div>
							</div>
						</div>
					</span>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">
							Library Settings
							<i class="mdi-navigation-close right"></i>
						</span>
						<!-- begin library settings content -->

						<br>

						<div class="progress">
							<div class="determinate" style="width: 0%">
							</div>
						</div>

						<h6 class="primary-text-color light">
							Available Libraries
						</h6>
						
						<div ng:repeat="lib in publications.ui_publications_librariesNames()">
							<div class="col s4">
								<div class="card-panel skribl-primary-color" ng-click="publications.ui_publications_change_library(lib)">
									
									<h5 class="selectable-white">
										<code class="titip-down">
											<i class="mdi-maps-local-library circle">
											</i>
											<span class="titip-content">
												Click me to load "{{lib}}" publications
											</span>
										</code>
										&nbsp;{{lib}}
									</h5>

								</div>
							</div>
						</div>

						<div class="progress">
							<div class="determinate" style="width: 0%">
							</div>
						</div>

						<h6 class="primary-text-color light">
							Create new library
						</h6>

						<!-- update ng-mode/ng-click -->
						<!-- <div class="row">
						<span class="title"> create new library </span>
					</div> -->
					<div class="row">
						<div class="input-field col s4">
							<i class="mdi-content-text-format prefix"></i>
							<input id="newlib-title" type="text" class="validate" ng-model="publications.uploadData.title" required>
							<label for="newlib-title">new library name</label>
							<a class="waves-effect waves-light btn" style="color:white;" ng-click="publications.ui_upload_searchExcisting()">
								<i class="mdi-content-send left"></i>
								add
							</a>
						</div>
					</div>

					<!-- end library settings content -->
				</div>
			</div>
			<!-- end library card -->
		</div>
	</div>
</div>
</div>