<div class="col l7 m12 s12" ng-show="publications.publicationViewerEnabled()">
	<div class="card z-depth-4">
		<div class="card-content" style="background:#EEEEEE">
			<span class="card-title grey-text text-darken-4">
				<i class="mdi-content-content-paste">&nbsp VIEWER</i>
				<i class="mdi-content-clear right" ng-click="publications.disablePublicationViewer()"></i>
			</span>
			<!-- start $NAME card -->
			<div class="card">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4" ng-click="ui_toggleDisplayPublication()">
						<a> {{data.currentMetaData.title}} </a>
						<i class="mdi-navigation-more-vert right"></i>
					</span>
				</div>
				<span class="grey-text text-darken-4">
					<div class="animated fadeInDown col s12">
						<div class="section">
							


							<div class="row center">
								<code class="titip-bottom">
									<a class="waves-effect waves-light btn" style="color:white;" ng-click="getFile(getCurrentViewerPublication().id)"> <!-- change this -->
										<i class="mdi-file-file-download left"></i>
										Download publication
									</a>
									<span class="titip-content">
										Download the pdf to your device
									</span>
								</code>
							</div>
							<div class  "row">



							</div>
							<div class="row">
								{{data.currentMetaData}}
								<!-- <li> {{getCurrentViewerPublication().journalName}} </li>
								<li> {{getCurrentViewerPublication().journalNumber}} </li>
								<li> {{getCurrentViewerPublication().journalVolume}} </li>
								<li> {{getCurrentViewerPublication().year}} </li>
								<li> {{getCurrentViewerPublication().publisher}} </li>
								<li> {{getCurrentViewerPublication().keywords}} </li> -->
							</div>
							
							

							



						</div>
						<div class="center">
							<div class="activator col s12 waves-effect waves-light btn-large ">
								<h5 class="activator center-align" style="color:white">Edit card</h5>
							</div>
							<i class="mdi-hardware-keyboard-arrow-up" ng-click="ui_toggleDisplayPublication()"></i>
						</div>
					</div>
				</span>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">
						Library Settings
						<i class="mdi-navigation-close right"></i>
					</span>
					<edit-meta-data></edit-meta-data>
				</div>

			</div>
			<!-- stop inner card -->
			<!-- start displayPDF card -->
			<!-- <div class="card">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4" ng-click="publications.toggleDisplayPDF()">
						<a> Preview </a>
						<i class="mdi-navigation-more-vert right"></i>
					</span>
				</div>
				<span class="grey-text text-darken-4" ng-show="publications.displayPDF">
					<div class="animated fadeInDown col s12">
						<div class="section">
							<div class="row s12">
								<span>
								<object data="data.currentMetaData.download" class="s10" width="100%" height="100%">
										<embed src="data.currentMetaData.download" type="application/pdf" class="s12" />
									</object>
								</span>
							</div>
						</div>
						<div class="center">
							<i class="mdi-hardware-keyboard-arrow-up" ng-click="publications.toggleDisplayPDF()"></i>
						</div>
					</div>
				</span>
			</div> -->
			<!-- stop basic card -->
		</div>
	</div>
</div>