<!-- recommender card -->
<div class="card">
  <div class="card-content">

    <span class="card-title grey-text text-darken-4">
     <a> 
       Recommendations 
     </a>
   </span>

   <div class="animated fadeInDown col s12">

    <!-- general waiting -->
    <div class="row center">
      <div ng-show="fetchingRecommendations">
        <h5> Searching for recommendations </h5>
        <spinner></spinner>
      </div>
    </div>

    <!-- results -->
    
    <div class="section" ng-show="hasRecommendations() && !fetchingRecommendations">
    
      <ul class="collection">
        <div ng:repeat ="recommendation in recommendations()">
          <li class="collection-item"> 
            <a ng-click="setMetaData(recommendation)">
            <i class="mdi-social-school circle left"></i>
            {{recommendation.title}}
            </a>
          </li>

        </div>
      </ul>

    </div>

  </div>
</div>




<!-- end search card