<a ui-sref="dashboard.library" class="btn-large"> Go back to dashboard </a>

<div class="section animated pulse row">
    <div class="col l4 m12 s12">

        <input class="input-field" type="text" placeholder="search terms (press enter to search)" on-enter="basicSearch()" >
    </div>

    <div class="col l8 m12 s12" >

        <div class="card">
            <div class="card-content">
		        <span class="card-title grey-text text-darken-4">
			        <a> Search Results </a>
		        </span>

                <div class="section">


                    <!---- internal results ---->
                     <span class="title grey-text text-darken-4">
			            <a> Results found from Skribl </a>
		            </span>
                    <ul class="collection">
                        <div ng-repeat="publication in internalResults">
                            <li class="collection-item">
                                <div class="selectable-black" ng-click="">
                                    <p class="title">{{publication.title}}</p>
                                </div>
                            </li>
                        </div>
                    </ul>

                    <!---- external results ---->
                     <span class="title grey-text text-darken-4">
			            <a> Results found from Google Scholar </a>
		            </span>
                    <ul class="collection">
                        <div ng-repeat="publication in externalResults">
                            <li class="collection-item">
                                <div class="selectable-black" ng-click="">
                                    <p class="title">{{publication.title}}</p>
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>

            </div>
        </div>



    </div>





</div>




<!--- <div ng-repeat="publication in internalResults"> <p>{{publication.title}}</p> </div> --->

