<!--inner card :: upload publication -->
<div class="card" ng-show="ui_upload_active()">
	<div class="card-content">
		<span class="card-title grey-text text-darken-4">
			<a> Upload Publication </a>
			<a> 
				<i class="mdi-content-clear right" ng-click="ui_upload_deActivate()"></i>
			</a>
		</span>
	</div>
	<span class="grey-text text-darken-4">
		<div class="animated fadeInDown col s12">
			<div class="section">

				<!-- start initial status -->
				<!-- titel, journal/proceeding, file -->
				<div ng-show="ui_upload_initialStatus()">

					<div class="row center">
						<input name="group1" type="radio" id="test1" ng-model="publications.uploadData.type" value="journal"/>
						<label for="test1">Journal</label>
						
						
						<input name="group1" type="radio" id="test2" ng-model="publications.uploadData.type" value="proceeding"/>
						<label for="test2">Proceeding</label>
					</div>
					
					<!-- name -->
					<div class="row">
						<div class="input-field col s10 offset-s1">
							<i class="mdi-content-text-format prefix"></i>
							<input id="upload_title" type="text" class="validate" ng-model="publications.uploadData.title" required>
							<label for="upload_title">Title</label>
						</div>
					</div>

					<!-- check button -->
					<div class="row center">
						<a class="waves-effect waves-light btn" style="color:white;" ng-click="publications.ui_upload_searchExcisting()">
							<i class="mdi-content-send left"></i>
							check for excisting
						</a>
					</div>
				</div>
				<!-- stop initial status -->

				<!-- start checking status -->
				<div ng-show="publications.ui_upload_checkForExisting()">
					<!-- check for searching -->
					<div ng-show="publications.ui_search_searching()" class="row center">
					<h5> Searching for excisting publications </h5>
					<br>
						<spinner></spinner>	
					</div> 

					<div ng-hide="publications.ui_search_searching()">
					<!-- actual file -->
					<div class="row center">
						<input type="file" file-to-upload="publications.uploadData.file"></input>
					</div>
					<!-- upload button -->
					<div class="row center">
						<a class="waves-effect waves-light btn" style="color:white;" ng-click="publications.uploadFile()">
							<i class="mdi-content-send left"></i>
							send
						</a>
					</div>
				</div>
				</div>
				<!-- stop checking status -->

				<!-- waiting page for uploading -->
				<div class="row center" ng-show="publications.ui_upload_uploading()">
					<h5> uploading </h5>
					<br>
					<spinner></spinner>
				</div>

				<!-- waiting page for scraping -->
				<div class="row center" ng-show="publications.ui_upload_waitingScraping()">
					<h5> scraping </h5>
					<br>
					<spinner></spinner>
				</div>

				<!-- stop waiting page for scraping -->
				<!-- waiting page for manual -->
				<div ng-show="ui_upload_waitingManual()">
					<h5 class="row center"> Oldschool manual metadata, eh?</h5>
					<div class="row center">
						<spinner></spinner>
						<!-- 2DO remove this if works -->
						do you c spinner? 
					</div>
				</div>
				<!-- stop waiting page for manual -->
				<!-- succes for all -->
				<div class="row center" ng-show="ui_upload_success()"> 
					<a class="waves-effect waves-light btn" style="color:white;" ng-click="ui_upload_deActivate()">
						<i class="mdi-action-done left"></i>
						done</a>
						<a class="waves-effect waves-light btn" style="color:white;" ng-click="ui_upload_activate()">
							<i class="mdi-file-file-upload left"></i>
							upload another</a>
						</div>
						<!-- error for uploading -->
						<div class="row">
							<div class="col s12 alert-color" id="upload_error"></div>
						</div>
					</div>
				</div>
				<!-- end succes -->
			</div>
		</div>
	</span>
</div>
<!-- end upload publication