<!--inner card :: upload publication -->
<div class="card" ng-show="publications.upload_active()">
	<div class="card-content">
		<span class="card-title grey-text text-darken-4">
			<a> Upload Publication </a>
			<a> 
				<i class="mdi-content-clear right" ng-click="publications.upload_deActivate()"></i>
			</a>
		</span>
	</div>
	<span class="grey-text text-darken-4">
		<div class="animated fadeInDown col s12">
			<div class="section">

				<!-- general waiting -->
				<div class="row center">
					<div ng-show="publications.upload_waiting()">
						<h5> {{publications.upload_waitingmsg}} </h5>
						<spinner ng-show="publications.upload_waiting()"></spinner>
					</div>
				</div>

				<!-- start initial status -->
				<!-- titel, journal/proceeding, file -->
				<div ng-show="publications.upload_initialStatus()">

					<div class="row center">
						<input name="group1" type="radio" id="test1" ng-model="appData.uploadData.type" value="journal"/>
						<label for="test1">Journal</label>
						
						
						<input name="group1" type="radio" id="test2" ng-model="appData.uploadData.type" value="proceeding"/>
						<label for="test2">Proceeding</label>
					</div>
					
					<!-- name -->
					<div class="row">
						<div class="input-field col s10 offset-s1">
							<i class="mdi-content-text-format prefix"></i>
							<input id="upload_title" type="text" class="validate" ng-model="appData.uploadData.title" required>
							<label for="upload_title">Title</label>
						</div>
					</div>

					<!-- check button -->
					<div class="row center">
						<a class="waves-effect waves-light btn" style="color:white;" ng-click="publications.upload_searchExcisting()">
							<i class="mdi-content-send left"></i>
							upload
						</a>
					</div>
				</div>
				<!-- stop initial status -->

				<!-- start EXIST status -->
				<div ng-show="publications.upload_pubExcist()">
					<div ng-show="publications.upload_content_excists">
						<div class="row center">
							We found some publications that seem similar, do you wish to add any of these?
						</div>

						<ul class="collection">
							<div ng:repeat="publication in data.searchResult">
								<li class="collection-item avatar">
									<i class="mdi-action-account-balance circle" ng-show="publication.type == 'Journal'"></i>
									<i class="mdi-action-description circle" ng-show="publication.type == 'Proceeding'"></i>

									<div class="selectable-black" ng-click="publications.upload_excisting(publication.id)">
										<span class="title">{{publication.title}}</span>
										<p> author!! </p>
									</div>

									<hr>
								</li>
							</div>
						</ul>

						<div class="progress">
							<div class="determinate" style="width: 0%">
							</div>
						</div>

						<!-- actual file -->
						<div class="row center">
							Or do you want to continue uploading your own file?
						</div>
					</div>
					<div class="row center">
						<input type="file" file-to-upload="appData.uploadData.file"></input>
					</div>

					<!-- upload button -->
					<div class="row center">
						<a class="waves-effect waves-light btn" style="color:white;" ng-click="publications.uploadFile()">
							<i class="mdi-content-send left"></i>
							send
						</a>
					</div>

				</div>

				
				<!-- stop EXIST status -->

				<!-- start edit metadata -->
				<div ng-show="publications.upload_edit()">
					<div class="row center">
						<edit-meta-data></edit-meta-data>
					</div>
				</div>

				<!-- stop edit metadat -->
				
			</div>
		</div>
	</span>
</div>
<!-- end upload publication