
<div class="jumbotron text-center">
    <h3>Dashboard</h3>

    <p>This part demonstrates nested views.</p>

    <!-- link to nested views-->
    <a ui-sref=".profile" class="fa fa-user"> Your Profile </a>
    <a ui-sref=".library"><i class="fa fa-book"></i> Your Library</a>
    <a ui-sref=".network" class="fa fa-globe">Your Network</a>
</div>

<!-- nested views injected here -->
<div ui-view></div>


<!-- - kan alles "SPA" worden zoals bij ons huidige vormgeving?
(dus verschillende controllers maar binnen 1 webpage) -->


