
<h4> This works with a factory and directives, and talks to the library controller: </h4>

<a class="fa fa-user" lib-name = "portfolio" switch-lib> Portfolio</a>
<a class="fa fa-star" lib-name = "favourites" switch-lib> Favourites</a>



<h4> Currently: {{currentListing.type}} </h4>

<ul class="list-unstyled">
    <li ng-repeat="item in currentListing.items" >
        <a class="fa fa-book" set-metadata >{{item.title}}</a>
        <remove-from-lib></remove-from-lib>
    </li>
</ul>

<a ui-sref="dashboard.library.upload" class="fa fa-plus-circle">Upload a new publication </a>
<a ui-sref="dashboard.library.search" class="fa fa-search-plus">Search a new publication </a>