<!-- The Home (landing) html configuration -->
<div class = "block1">
  <center>
  		<canvas class="board-frame" interactivelogo></canvas>
  
  
  
  </center>
</div>

<div class = "block2">
	<img src="img/skribl_general_text.png" 		class ="centerSecond"	alt="skribllog" ng-click="login()">
	<!-- actually here we want the screen to "scroll down" -->
	<img src="img/arrow_down.png" 	class ="lowerSecond" 	alt="skribllog" ng-click="login()">
</div>

<div class = "block3">
	<center>
	  <button class = "defaultButton" ng-click="login()">LOG IN</button>
	  <img src="img/diamondFront.png" class ="img-bottom" alt="skribllog">
	  <p class="notification-text"> Don’t have an account yet? 
	  	<br><br>
	  	<a ng-click="register()">Sign up here</a>
	  </p>
	</center>
	
</div>

