
<div class="header-block" id="wrapper">
	<div class="header-content"> 
		<i class="fa fa-home fa-3x"  ng-click="goToHome()">&nbsp;&nbsp;</i>
		<img src="img/logo_defaultcolor.png" style='height:60%;' alt="skribllog" ng-click="goToHome()">
	</div>
</div>


<div class="block0">

<center>

<div class="card">

	<h1> LOG IN </h1>

	Username: <input type="text" ng-model=userinput.username> <br>
	Password: <input type="password" ng-model=userinput.password> <br>
	<p id="error"></p>
	<button class = "defaultButton" ng-click="login()">GO</button>
	<br>
	<button class = "defaultButton" ng-click="goToHome()">GO BACK</button>
</div>
</center>
</div>
