<div>

  <center>

    <h1> REGISTER </h1>

    <form name="signup_form" novalidate ng-submit="register()">
      <fieldset>
        <legend></legend>

        <!-- NAME -->
        <div class="row">
          <div class="large-12 columns">
            <label>Your name</label>
            <input type="text"
            placeholder="Name"
            name="name"
            ng-model="userinput.name"
            ng-minlength=3
            ng-maxlength=20 required />

            <div class="error-container"
            ng-show="signup_form.name.$dirty && signup_form.name.$invalid && signup_form.submitted">
              <small class="error"
              ng-show="signup_form.name.$error.required">
                Your name is required.
              </small>

              <small class="error"
              ng-show="signup_form.name.$error.minlength">
                Your name is required to be at least 3 characters
              </small>

              <small class="error"
              ng-show="signup_form.name.$error.maxlength">
                Your name cannot be longer than 20 characters
              </small>
            </div>
          </div>
        </div>

        <!-- FIRST NAME -->
        <div class="row">
          <div class="large-12 columns">
            <label>First Name</label>
            <input type="text"
            placeholder="First Name"
            name="firstName"
            ng-model="userinput.firstname"
            ng-minlength=3
            ng-maxlength=20 required />

            <div class="error-container"
            ng-show="signup_form.firstName.$dirty && signup_form.firstName.$invalid && signup_form.submitted">
              <small class="error"
              ng-show="signup_form.firstName.$error.required">
                Your first name is required.
              </small>

              <small class="error"
              ng-show="signup_form.firstName.$error.minlength">
                Your first name is required to be at least 3 characters
              </small>

              <small class="error"
              ng-show="signup_form.firstName.$error.maxlength">
                Your first name cannot be longer than 20 characters
              </small>
            </div>
          </div>
        </div>

        <!-- EMAIL -->
        <div class="row">
          <div class="large-12 columns">
            <label>Email</label>
            <input type="email"
            placeholder="Email"
            name="email"
            ng-model="userinput.email"
            required />

            <div class="error-container"
            ng-show="signup_form.email.$dirty && signup_form.email.$invalid && signup_form.submitted">
              <small class="error"
              ng-show="signup_form.email.$error.required">
              Your email is required.
              </small>

              <small class="error"
              ng-show="signup_form.email.$error.email">
                Your email seems to be invalid
              </small>
            </div>
          </div>
        </div>

        <!-- LANGUAGE -->
        <div class="row">
          <div class="large-12 columns">
            <label>Language</label>
            <input type="radio"
            ng-model="userinput.language"
            value = "FR"
            required /> FR
            <input type="radio"
            ng-model="userinput.language"
            value = "EN"
            required /> EN
          </div>
        </div>

        <!-- USERNAME -->
        <div class="row">
          <div class="large-12 columns">
            <label>Username</label>
            <input type="text"
            placeholder="User Name"
            name="username"
            ng-model="userinput.username"
            ng-minlength=3
            ng-maxlength=20 required />

            <div class="error-container"
            ng-show="signup_form.username.$dirty && signup_form.username.$invalid && signup_form.submitted">
              <small class="error"
              ng-show="signup_form.username.$error.required">
                Your user name is required.
              </small>

              <small class="error"
              ng-show="signup_form.username.$error.minlength">
                Your User Name is required to be at least 3 characters
              </small>

              <small class="error"
              ng-show="signup_form.username.$error.maxlength">
                Your user name cannot be longer than 20 characters
            </small>
          </div>
        </div>
      </div>


      <!-- PASSWORD -->
      <div class="row">
        <div class="large-12 columns">
          <label>Password</label>
          <input type="password"
          name="password"
          ng-model="userinput.password"
          ng-minlength=7
          ng-maxlength=20 required />

          <div class="error-container"
          ng-show="signup_form.password.$dirty && signup_form.password.$invalid && signup_form.submitted">
          <small class="error"
          ng-show="signup_form.password.$error.required">
            Please Provide a password.
          </small>

          <small class="error"
          ng-show="signup_form.password.$error.minlength">
            Your Password is required to be at least 7 characters
          </small>

          <small class="error"
          ng-show="signup_form.password.$error.maxlength">
            Your Password cannot be longer than 20 characters
          </small>
        </div>
      </div>
    </div>

        <!-- SUBMIT -->
        <button type="submit" class="button radius">Submit</button>
      </fieldset>
    </form>

</center>
</div>
